# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script, but may be useful to exclude
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Sphinx documentation
doc/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#1263, we should ignore Pipfile.lock as it is generated
#   and may be harmful inside container/virtual environments.
#   For projects/apps (but not libraries), it is recommended to keep it under version control.
# Pipfile.lock

# poetry
#   Similar to Pipfile.lock, poetry.lock is package manager specific and usually ignored in libraries
# poetry.lock

# pdm
#   Similar to Pipfile.lock, pdm.lock is ignored in libraries
pdm.lock
#   pdm build stage
.pdm-build/

# PEP 582; project local packages directory (used by pdm)
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath ruins lives
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project-specific test data & outputs
*.xlsx
*.pptx
~$*.xlsx
~$*.pptx
/excels/
/decks/
